/* Observações:   
Sempre que estiver trabalhando largura de alguma coisa e com laterais, por exemplo: padding-right, padding-left, margin-right,
margin-left use: porcentagem.(%)
Agora, trabalhando com altura, foca pixel: (px)
Com extremidades superior e inferior, margin-top, margin-bottom, padding-top, padding-bottom  use pixel(px)

*/
/* RESET */

/* @import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap"); */
*{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      font-family: 'Revalia', cursive;
  }

/* ---------HEADER------------ */
.header {
display: flex;
flex-direction: row;
align-content: space-between;
justify-content:space-around;
align-items:flex-end;
background-color:#FF9142;
color: white;
padding: 50px;
}

.nav {
display: flex;
flex-direction: row;
align-content: space-between;
justify-content:space-around;
background-color: #F2E038;
color: black;
padding: 20px;
}
/* -------MAIN------ */
.main{
display: flex;
flex-direction: column;
align-content: space-between;
justify-content:space-around;
margin-left: auto;
margin-left: auto;
}

/* ---------FOOTER------------ */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    background-color: #3F4638;
    color: #fff;
    font-size: 1.5rem;
    padding-left: auto;
}